<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <title>管理员登录</title>
  <link rel="stylesheet" href="../static/style.css">
  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url('../static/background.jpg');
      background-size: cover; /* 使背景图片覆盖整个页面 */
      background-position: center; /* 将背景图片居中 */
      background-repeat: no-repeat; /* 防止背景图片重复 */
      height: 100vh; /* 确保 body 元素的高度为视口高度 */
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
</head>
<body>
  <div class="login-container">
    <h2>管理员登录</h2>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="用户名" required>
      <input type="password" name="password" placeholder="密码" required>
      <button type="submit">登录</button>
    </form>
  </div>
</body>
</html>